<div class="row row-no-gutters" style="margin: 2%">
  <div class="col-xs-6 ">
    <img
      style="height: 80%; width: 80%"
      src="{{ this.editFimlForm.controls['posterURL'].value }}"
    />
  </div>
  <div class="col-xs-6 ">
    <form [formGroup]="editFimlForm">
      <div class="form-group">
        <label>{{ "resources.name" | translate }}</label>
        <input class="form-control" formControlName="name" />
        <div
          [hidden]="
            !editFimlForm.controls['name'].errors ||
            !editFimlForm.controls['name'].dirty
          "
          class="error-msg"
        >
          {{ "resources.invalid" | translate }}
          {{ "resources.name" | translate }}
        </div>
      </div>

      <div class="form-group">
        <label>{{ "resources.description" | translate }}</label>
        <textarea
          class="form-control"
          formControlName="description"
          style="resize: vertical"
        ></textarea>
        <div
          [hidden]="
            !editFimlForm.controls['description'].errors ||
            !editFimlForm.controls['description'].dirty
          "
          class="error-msg"
        >
          {{ "resources.invalid" | translate }}
          {{ "resources.description" | translate }}
        </div>
      </div>

      <div class="form-group">
        <label>{{ "resources.posterURL" | translate }}</label>
        <input class="form-control" formControlName="posterURL" />
        <div
          [hidden]="
            !editFimlForm.controls['posterURL'].errors ||
            !editFimlForm.controls['posterURL'].dirty
          "
          class="error-msg"
        >
          {{ "resources.invalid" | translate }}
          {{ "resources.posterURL" | translate }}
        </div>
      </div>

      <div class="form-group">
        <label>{{ "resources.raiting" | translate }}</label>
        <input class="form-control" formControlName="imDbRaiting" />
        <div
          [hidden]="
            !editFimlForm.controls['imDbRaiting'].errors ||
            !editFimlForm.controls['imDbRaiting'].dirty
          "
          class="error-msg"
        >
          {{ "resources.invalid" | translate }}
          {{ "resources.raiting" | translate }}
        </div>
      </div>

      <div class="form-group">
        <label>{{ "resources.date" | translate }}</label>
        <input class="form-control" formControlName="date" type="date" />
        <div
          [hidden]="
            !editFimlForm.controls['date'].errors ||
            !editFimlForm.controls['date'].dirty
          "
          class="error-msg"
        >
          {{ "resources.invalid" | translate }}
          {{ "resources.date" | translate }}
        </div>
      </div>

      <label>{{ "resources.genres" | translate }}</label>
      <div formArrayName="genres">
        <div class="form-inline">
          <form #form="ngForm">
            <input
              required
              name="ganre"
              pattern="^[a-zA-zа-яА-Я]{1,30}$"
              ngModel
              #genreInput="ngModel"
              class="form-control"
              style="width:200px; border-top-right-radius: 0;border-bottom-right-radius: 0;"
              autocomplete="off"
            />
            <input
              type="button"
              class="form-control"
              style=" border-top-left-radius: 0; border-bottom-left-radius: 0;"
              (click)="onGenreAdd(genreInput.value)"
              value="{{ 'resources.add' | translate }}"
            />
            <div
              [hidden]="genreInput.valid || !genreInput.dirty"
              class="error-msg"
            >
              {{ "resources.invalid" | translate }}
              {{ "resources.genres" | translate }}
            </div>
          </form>
        </div>
        <hr />
        <div
          [@genre]
          *ngFor="let genre of genresFormArray.controls; let idx = index"
          [formGroupName]="idx"
          class="form-inline"
        >
          <input
            class="form-control"
            readonly
            formControlName="genre"
            style="width:200px; border-top-right-radius: 0;border-bottom-right-radius: 0;"
          />
          <input
            type="button"
            class="form-control"
            style=" border-top-left-radius: 0; border-bottom-left-radius: 0;"
            (click)="onGenreDelete(genre)"
            value="X"
          />
        </div>
      </div>
      <br />
      <button class="btn btn-default" (click)="onSubmit()">
        {{ "resources.save" | translate }}
      </button>
    </form>
  </div>
</div>
